<div class="container-fluid">
  <div class="ticscore-container">
    {{#each details.elements.results as |result|}}
      <div class="title">
        <h1>
          {{result.name}}
        </h1>
      </div>
      <div class="indicator">
        <div class="tic-gauge-container">
          <svg x="0" y="0" width="100%" height="100%" viewBox="0 0 55 50">
            <g transform="translate(28,25)">
              <g>
                <circle
                  r="{{elementRadius}}"
                  stroke="#eee"
                  transform="rotate(-90)"
                  fill="#fff"
                  stroke-width="{{elementStrokeWidth}}"
                  cx="0"
                  cy="0"
                ></circle>
                {{! this is the inner circleas }}
                {{! stroke=<color> is the inner circle color }}
                <circle
                  stroke-dasharray="{{elementCircumference}}"
                  r="{{elementRadius}}"
                  stroke="{{elementColor}}"
                  transform="rotate(-90)"
                  fill="none"
                  stroke-dashoffset="{{elementStrokeOffset}}"
                  stroke-width="{{elementStrokeWidth}}"
                  cx="0"
                  cy="0"
                ></circle>
                <text
                  text-anchor="middle"
                  x="0"
                  y="5"
                  fill="{{elementColor}}"
                  font-size="13"
                >{{result.ticScore}}</text>
              </g>
            </g>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{! owners }}
{{#if details.elements.results}}
  <h1 class="p-title">{{fa-icon icon="layer-group" fixedWidth=true}}
    Owners:
  </h1>
  {{#each details.elements.results as |result|}}
    {{#if result.owners}}
      <div class="info">
        {{#each result.owners as |owner|}}
          <div>
            <span class="p-value">{{owner}}</span>
          </div>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
{{/if}}

{{! locations }}
{{#if details.elements.results}}
  <h1 class="p-title">{{fa-icon icon="layer-group" fixedWidth=true}}
    Locations:
  </h1>
  {{#each details.elements.results as |result|}}
    {{#if result.locations}}
      <div class="info">
        {{#each result.locations as |location|}}
          {{#each-in location as |key value|}}
            {{#if (eq key "geoPoint")}}
              {{#each-in location.geoPoint as |key value|}}
                {{#if (eq key "lon")}}
                  <div>
                    <span class="p-key">lon:</span>
                    <span class="p-value">{{value}}</span>
                  </div>
                {{/if}}
                {{#if (eq key "lat")}}
                  <div>
                    <span class="p-key">lat:</span>
                    <span class="p-value">{{value}}</span>
                  </div>
                {{/if}}
              {{/each-in}}
            {{else}}
              <div>
                <span class="p-key">{{key}}:</span>
                <span class="p-value">{{value}}</span>
              </div>
            {{/if}}
          {{/each-in}}
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
{{/if}}

{{! sources }}
{{#if details.sources.results}}
  <h1 class="p-title">{{fa-icon icon="layer-group" fixedWidth=true}}
    Sources:
  </h1>
  <div class="info">
    {{#each sources as |obj|}}
      <div class="sources-container">
        {{#each obj.sources as |source|}}
          <div>
            <span class="p-key">Source:</span>
            <span class="p-value">{{source}}</span>
          </div>
        {{/each}}
        <div>
          <span class="p-key">Tic Score:</span>
          <span class="p-value">{{obj.right.ticScore}}</span>
        </div>
        <div>
          <span class="p-key">First Seen:</span>
          <span class="p-value">{{moment-format
              obj.firstSeen
              "MM/DD/YYYY HH:mm:ss"
              timeZone=timezone
            }}</span>
        </div>
        <div>
          <span class="p-key">Last Seen:</span>
          <span class="p-value">{{moment-format
              obj.lastSeen
              "MM/DD/YYYY HH:mm:ss"
              timeZone=timezone
            }}</span>
        </div>
        <div>
          <span class="p-key">Classifications:</span>
          {{#each obj.right.classifications as |classification|}}
            <span class="tag">{{classification}}</span>
          {{/each}}
        </div>
        <div>
          <span class="p-key">Etpro Risk Score:</span>
          <span class="p-value">{{obj.meta.etproRiskScore_ui}}</span>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}